<div class="wrapper">
    <div class="podcast">
        <div id="loader"></div>
        <h1>Podcast du <%= @today_week %> <%= @day %> <%= @month %></h1>
        <%= @podcast_of_the_day.html.html_safe %>
    </div>
    <div class="footer">
        <p>Réalisé par <%= link_to '@FrancoisR', 'http://francoisrabanel.fr', target: "_blank" %></p>
    </div>
</div>