body {
    background-color: blanchedalmond;
    font-family: 'Gloria Hallelujah', cursive;
    a {
        text-decoration: none;
        color: gray;
        font-family: 'Poiret One', cursive;
    }
    a:hover {
        text-decoration: none;
    }
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.podcast {
    width: 50%;
    text-align: center;
    // box-shadow: 10px 10px 0px #EE742F;
    h1 {
        font-size: 20px;
        padding: 40px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (min-width: 700px) {
    .podcast h1 {
        font-size: 40px;
    }
}